<div class="artist-table-background">

<div class="container artist-table">
  <table class="table">
    <thead>
        <th></th>
        <th class="artist shows">Artist</th>
        <th class="location shows">Tour</th>
        <th class="tickets shows"><%= image_tag("listen-on-spotify.png", class:"listen-on-spotify") %></th>
    </thead>
    <tbody>
      <% @artists.each do |artist| %>
      <tr class="shows">
        <td class="artist-image"><%= image_tag(artist.spotify_image_url, class:"artist-image") %></td>
        <td class="artist-name"><%= artist.name %></td>
        <td class="location shows"><%= artist.facebook_url %></td>
        <td class="tickets shows"><%= link_to image_tag("listen-on-spotify.png", class:"listen-on-spotify"), artist.spotify_uri %></td>
        <td>
          <button type="button" name="button" class="btn btn-danger btn-md">untrack</button>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>
