<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag 'logo.png' %>
  <title>Spotishow</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800,600' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="http://github.hubspot.com/odometer/themes/odometer-theme-minimal.css" />
  <script src="http://github.hubspot.com/odometer/odometer.js"></script>
  <style media="screen">
  body {
    font-family: 'Open Sans', serif;
   }
  </style>

</head>

<body class="artist-table-background">
  <header>

</header>

  <% if current_user %>
    <%= render partial: "shared/navbar" %>

    <% flash.each do |type, message| %>
      <%= content_tag :div, sanitize(message), class: "alert alert_#{type}" %>
    <% end %>
  <% else %>
    <% flash.each do |type, message| %>
      <%= content_tag :div, sanitize(message), class: "alert alert_#{type}" %>
    <% end %>
  <% end %>


<%= yield %>

<%= javascript_include_tag 'application' %>
</body>
</html>
